@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

main{
  overflow-x:hidden;
  height:100vh;
  position:fixed;
}
header{
  display:flex;
  justify-content:space-between;
  background-color:#141414;
  height:4vh;
  width:100vw;
  min-height:70px;
  z-index:10;
  border-bottom:solid 2px white;
  box-shadow:0px 4px 4px 2px rgba(0,0,0, 0.25);
  position:fixed;
}
footer{
  display:flex;
  justify-content:center;
  align-items:center;
  color:black;
  height:5rem;
  font-size:1rem;
  font-family:'Quicksand';
  letter-spacing:2px;
  position:relative;
  background-color:#f0f0f0;
}