@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

main{
  overflow-x:hidden;
  height:100vh;
  position:fixed;
}
header{
  display:flex;
  justify-content:space-between;
  background-color:#141414;
  height:6vh;
  width:100vw;
  min-height:76px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.50);
  border-bottom-style:solid;
  border-bottom-color:rgb(201, 201, 201);
  border-bottom-width:3px;
  position:fixed;
  z-index:10;
}
footer{
  display:flex;
  justify-content:center;
  align-items:center;
  background-color: #141414;
  color:#FFFFFF;
  height:5rem;
  font-size:1rem;
  font-family:'Quicksand';
  letter-spacing:2px;
  position:relative;
  border-top-style:solid;
  border-top-color:rgb(201, 201, 201);
  border-top-width:3px;
  box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.50);
}