@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

main{
  overflow-x:hidden;
  height:100vh;
  position:fixed;
}
header{
  display:flex;
  justify-content:space-between;
  background-color: #222222;
  height:4vh;
  width:99.99vw;
  min-height:70px;
  z-index:10;
  position:fixed;
}
footer{
  display:flex;
  justify-content:center;
  align-items:center;
  color:white;
  height:10rem;
  font-size:clamp(0.8rem, 2vw, 1rem);
  font-family:'Quicksand';
  letter-spacing:2px;
  background-color: #222222;
  padding-top:5rem;
}